body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: rgb(37,41,46);
  line-height: 23px;
}

a {
  text-decoration: none;
  color: RoyalBlue;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0px 0px 3px 1px rgb(0,0,0,0.2);
}

h3 {
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid rgb(0,0,0,0.1);
  padding-bottom: 12px;
  margin-bottom: 18px;
}

h1 {
  border-bottom: 1px solid rgb(0,0,0,0.1);
  padding-bottom: 18px;
  margin-bottom: 18px;
}

code {
  background-color: rgb(0,0,0,0.07);
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 3px;
}

.title {
  font-size: 30px;
  margin: 0px;
}

.defaulta {
  color: black;
  text-decoration: none;
}

.navli {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  margin-left: 12px;
}

.navbtn {
  padding: 8px;
  transition: 0.1s;
}

.navbtn:hover {
  opacity: 0.4;
}

li .active {
  background-color: rgb(200,200,200, 0.5);
  color: #3b0052;
  border-radius: 6px;
}

.row {
  display:flex;
  flex-direction: row;
}

.bottom {
  display:flex;
  align-items: flex-end;
}

.title-aside {
  color: rgb(128,128,128);
  margin-bottom: 4px;
  display: flex;
  align-items: flex-end;
  font-family: 'Roboto Slab', serif;
  margin-left: 10px;
  font-weight: 100;
  font-size: 12px;
}

.logo {
  display: flex;
  flex-direction: row;
  min-width: 200px;
}

.contents {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.infosection {
  padding: 60px;
  padding-left: 80px;
  padding-right: 80px;
}
